@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway:wght@500;700;800&display=swap');

:root {
    /*Váriaveis de fonte*/
    --raleway-font: 'Raleway', sans-serif;
    --caslistoga-font: 'Calistoga', cursive;

    /*Váriaveis de cores*/

    --cor-clara: #fff;
    --cor-escura: #444;
    --cor-primaria: #2E7BA2;
    --cor-secundaria: #DF9010;

}

@media screen and (min-width: 1441px) {

    #banner {
        display: flex;
        height: 407px;
        padding: 23px 417px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    #banner h1{
        font-size: 64px;
    }

    #btn-mobile{
        display: none;
    }

    #barra-navegacao {
        padding: 30px 120px;
        justify-content: space-between;
    }

    #barra-navegacao ul {
        display: flex;
    }
}

@media screen and (min-width: 1279px) and (max-width: 1440px) {

    #banner {
        display: flex;
        height: 407px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    #banner h1{
        font-size: 32px;
    }

    #btn-mobile{
        display: none;
    }

    #barra-navegacao {
        padding: 30px;
        justify-content: space-between;
    }

    #barra-navegacao ul {
        display: flex;
    }

}

@media screen and (min-width: 760px) and (max-width: 1278px) {
    #barra-navegacao {
        padding: 32px 20px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
    #barra-navegacao ul{
        display: flex;
    }

    #banner h1{
        font-size: 32px;
    }

    #btn-mobile{
        display: none;
    }
}

@media screen and (min-width: 359px) and (max-width: 759px) {

    #barra-navegacao{
        padding: 32px 24px;
        justify-content: space-between;
        align-items: center;
    }

    #banner h1{
        font-size: 32px;
    }

    /*Menu Hamburguer*/

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer{
        color: var(--cor-clara);
        border-top: 2px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 4px;
        transition: .3s;
        position: relative;
    }

    #barra-navegacao ul{
        display: none;
        position: absolute;
        flex-direction: column;
        text-align: center;
        gap: 8px;
        background: var(--cor-primaria);
        top: 18%;
        right: 1%;
        border-radius: 5px;
    }

    #barra-navegacao ul li:hover{
        background-color: rgba(6, 73, 106, 0.5);
        width: 100%;
    }

    #barra-navegacao.active ul{
        display: flex;
    }
    #barra-navegacao.active #hamburguer{
        border-top-color: transparent;
    }

    #barra-navegacao.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -6px;
    }

    #barra-navegacao.active #hamburguer::before{
        transform: rotate(135deg);
        
    }
}

#barra-navegacao {
    display: flex;
    background-color: var(--cor-primaria);
}

#barra-navegacao ul {
    list-style: none;
    align-items: center;
}

#barra-navegacao ul a {
    padding: 0 12px;
    text-decoration: none;
    font-size: 17px;
    font-family: var(--raleway-font);
    font-weight: 700;
    line-height: 40px;
    color: var(--cor-clara);
}



#barra-navegacao ul a:hover {
    color: #1d4d65;
}