@media screen and (min-width: 1441px) {
    #home {
        background: url(../../assets/Banner.png), lightgray 50% / cover no-repeat;
        background-size: cover;
        display: flex;
        height: 407px;
        padding: 23px 417px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }
}

@media screen and (min-width: 1279px) and (max-width: 1440px) {
    #home {
        background: url(../../assets/Banner.png),lightgray 50% / cover no-repeat;
        background-size: cover;
        display: flex;
        height: 407px;
        padding: 23px 417px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }
}

@media screen and (min-width: 760px) and (max-width: 1278px) {
    #home {
        display: flex;
        height: 384px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(../../assets/Banner.png);
    }
}

@media screen and (min-width: 359px) and (max-width: 759px) {
    #banner {
        display: flex;
        padding: 23px 0px;
        height: 270px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(../../assets/Banner.png),lightgray 50% / cover no-repeat;
        background-size: 410px 320px; 
        
    }
}