@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* Váriaveis no css */

:root{
    /* Aqui dentro do root é onde eu declaro minhas váriaveis */
    /* Aqui dentro estou declarando váriaveis paras as cores que mais utilizo no meu projeto */
    --cor--primaria: #000;
    --cor-secundaria: #fff;
    --cor--terciaria: #22d4fd;
}


*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor--primaria);
    color: #f6f6f6;
}

header{
    padding: 2% 0 0 15%;
}

#menu{
    display: flex;
    gap: 80px;
}

.link_menu{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--cor--terciaria);
    text-decoration: none;
}


#span-h1{
    color: var(--cor--terciaria);
}

#container{
    margin: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px; /*Espaçamento entre elementos filhos*/
}

#conteudo h1{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

#conteudo p{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}


#div_botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

#div_botoes h2{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 23px;
}

.botoes{
    /* background-color: #22D4FD; */
    border: solid 2px var(--cor--terciaria);
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    padding: 21.5px 0;
    border-radius: 8px; 
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-size: 24px;
}

.botoes:hover{
    background-color: #272727;
}

.icons{
    width:"32px";
    height:"32px";
}

footer{
    background-color: var(--cor--terciaria);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-family: 'Montserrat', sans-serif;;
    font-weight: 400;
    color: var(--cor--primaria);
    font-size: 24px;
}

