@media screen and (min-width: 1440px) {
    #reserva{
        height: 384px;
        background: url(../../assets/Tema-Verão/Imagens/5-Banner-garanta-seu-ingresso.png);
        background-size: 2000px 385px;
    } 
}

@media screen and (min-width: 1279px) and (max-width: 1440px) {
    #reserva{
        height: 384px;
        background: url(../../assets/Tema-Verão/Imagens/5-Banner-garanta-seu-ingresso.png);
        background-size: 1300px 385px;
    }
}

@media screen and (min-width: 760px) and (max-width: 1278px) {
    #reserva{
        height: 384px;
        background: url(../../assets/Tema-Verão/Imagens/5-Banner-garanta-seu-ingresso.png);
        background-size: 800px 390px;
    }
}

@media screen and (min-width: 359px) and (max-width: 759px){
    #reserva {
        height: 281px;
        background: url(../../assets/Tema-Verão/Imagens/5-Banner-garanta-seu-ingresso.png);
        background-size: 400px 280px;
    }
}

#reserva{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}